a.navbar-toggle.hidden-md-up.pull-right(href='#')
  i.ion-navicon-round
.navbar.bg-teal.navbar-inverted(data-snap='300px')
  .container
    if active != 'home'
      .navbar-logo
        a(href="/"): img(src='/images/stylistic-logo-white.png', alt='Stylistic Logo')
    nav.navbar-nav.nav-right.navbar-collapse-sm
      a.nav-link(href='/' class= active == "home" ? "active" : "") Home
      a.nav-link(href='http://git.io/vu9a0') GitHub
      a.nav-link(href='/documentation' class= active == "documentation" ? "active" : "") Documentation
      // a.nav-link(href='/examples' class= active == "examples" ? "active" : "") Examples
