
<footer class="footer footer-inverse p-y-4">
  <div class="container">
    <div class="row m-b-2">
      <ul class="list-group list-inline">
        <li><a href="http://git.io/vu9a0"><i class="ion-social-github"></i> GitHub</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Examples</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center"><small>Built by <a href="https://github.com/iDev0urer">@idev0urer</a> and <a href="http://marginzero.co">Margin Zero LLC</a>. Contributions are always appreciated. To view a list of what needs to be done please visit our <a href="https://github.com/MarginZero/Stylistic/issues">Issues Page.</a><br/>Copyright © 2015-2016 <a href="http://marginzero.co">Margin Zero LLC.</a></small></div>
  </div>
</footer>