<a href="#" class="navbar-toggle hidden-md-up pull-right"><i class="ion-navicon-round"></i></a>
<div data-snap="300px" class="navbar bg-teal navbar-inverted">
  <div class="container">
    <div class="navbar-logo"><a href="/"><img src="/images/stylistic-logo-white.png" alt="Stylistic Logo"/></a></div>
    <nav class="navbar-nav nav-right navbar-collapse-sm"><a href="/" class="nav-link">Home</a><a href="http://git.io/vu9a0" class="nav-link">GitHub</a><a href="/documentation" class="nav-link">Documentation</a>
      <!-- a.nav-link(href='/examples' class= active == "examples" ? "active" : "") Examples-->
    </nav>
  </div>
</div>