// Returns the name of the next breakpoint or nill if it's the last breakpoint
// ex. breakpoint-next(sm) >> md

breakpoint-next($name, $breakpoints = grid-breakpoints, $breakpoint-names = map-keys($breakpoints))
  $n = index($breakpoint-names, $name)
  return $n < length($breakpoint-names) ? $breakpoint-names[$n + 1] : null

breakpoint-min($name, $breakpoints = grid-breakpoints)
  $min = map-get($name, $breakpoints)
  return $min != 0 ? $min : null

breakpoint-max($name, $breakpoints = grid-breakpoints)
  $next = breakpoint-next($name, $breakpoints)
  return $next ? (breakpoint-min($next, $breakpoints) - 1px) : null

media-breakpoint-up($name, $breakpoints = grid-breakpoints)
  $min = breakpoint-min($name, $breakpoints)
  if $min
    @media (min-width: $min)
      {block}
  else
    {block}

media-breakpoint-down($name, $breakpoints = grid-breakpoints)
  $max = breakpoint-max($name, $breakpoints)
  if $max
    @media (max-width: $max)
      {block}
  else
    {block}

media-breakpoint-only($name, $breakpoints = grid-breakpoints)
  +media-breakpoint-up($name, $breakpoints)
    +media-breakpoint-down($name, $breakpoints)
      {block}

media-breakpoint-between($first, $second, $breakpoints = grid-breakpoints)
  +media-breakpoint-up($lower, $breakpoints)
    +media-breakpoint-down($upper, $breakpoints)
      {block}
