make-button($color, $background, $border)
  $active-background = darken($background, 15%)
  $active-border = darken($border, 15%)

  color: $color
  background-color: $background
  border-color: $border

  +hover()
    color: $color
    background-color: $active-background
    border-color: $active-border

  focus-active = @block {
    color: $color
    background-color: $active-background
    border-color: $active-border
    outline: none
  }

  &:focus, &.focus
    focus-active

  &:active, &.active
    focus-active
    background-image: none
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)

  &:disabled, &.disabled
    &:focus, &.focus
      background-color: $background
      border-color: $border
      +hover()
        background-color: $background
        boder-color: $border

button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius)
  padding: $padding-y $padding-x
  font-size: $font-size
  line-height: $line-height
  border-radius($border-radius)
