make-grid-columns($columns = grid-columns, $gutter = grid-gutter-width, $breakpoints = grid-breakpoints)

  for $breakpoint in map-keys($breakpoints)
    for $i in (1..$columns)
      .col-{$breakpoint}-{$i}
        make-col($gutter)

    +media-breakpoint-up($breakpoint)
      for $i in (1..$columns)
        .col-{$breakpoint}-{$i}
          if !$enable-flex
            float: left
          make-col-span($i, $columns)

      for $modifier in (pull push offset)
        for $i in (0..$columns)
          .col-{$breakpoint}-{$modifier}-{$i}
            make-col-modifier($modifier, $i, $columns)
