hover()
  if $enable-hover-media-query
    @media (hover: hover)
      &:hover
        {block}
  else
    &:hover
      {block}

hover-focus()
  if $enable-hover-media-query
    &:focus
      {block}
    &:hover
      {block}
  else
    &:focus,
    &:hover
      {block}

plain-hover-focus()
  if $enable-hover-media-query
    &,
    &:focus
      {block}
    hover
      {block}
  else
    &,
    &:focus,
    &:hover
      {block}

hover-focus-active()
  if $enable-hover-media-query
    &:focus,
    &:active
      {block}
    hover
      {block}
  else
    &:focus,
    &:active,
    &:hover
      {block}
