// Returns the name of the next breakpoint or nill if it's the last breakpoint
// ex. breakpoint-next(sm) >> md

// breakpoint-next($name, $breakpoints = grid-breakpoints)
//   $length = length($breakpoints)
//   for key, value in $breakpoints
//     if $name == key
