<div class="ribbon ribbon-blue ribbon-top-left">v.0.1.0-alpha</div>
<div class="navbar navbar-transparent navbar-fixed" data-snap="300px">
  <div class="container">
    <a href="#" class="navbar-toggle hidden-md-up pull-right"><i class="ion-navicon-round"></i></a>
    <nav class="navbar-nav nav-right navbar-collapse-sm">
        <a href="#" class="nav-link active">Home</a>
        <a href="#" class="nav-link">GitHub</a>
        <a href="#" class="nav-link">Documentation</a>
        <a href="#" class="nav-link">Examples</a>
    </nav>
  </div>
</div>
