<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stylistic Docs - v0.1.0-alpha</title>
    <link rel="stylesheet" href="./dist/css/stylistic.css" />
</head>
<body>
  {{> header }}

  {{{block "content"}}}

  {{> footer }}

  <script type="text/javascript" src="./dist/js/all.js"></script>
</body>
</html>
