@font-face {
  font-family: "stylfont";
  src: url('.fonts/stylfont.eot');
  src: url('.fonts/stylfont.eot?#iefix') format('eot'),
          url('.fonts/stylfont.woff') format('woff'),
          url('.fonts/stylfont.ttf') format('truetype');
}

icon-base() {
  font: normal normal 1em/1 stylfont
  text-rendering: auto
  display: inline-block
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-style: normal
  font-variant: normal
  font-weight: normal
  vertical-align: sub
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
}

icon-char($filename) {
  $char = ""
  
  if $filename == adjust {
    $char = "\f101"
  }
  
  if $filename == alarm-o {
    $char = "\f102"
  }
  
  if $filename == alarm-slash-o {
    $char = "\f103"
  }
  
  if $filename == alarm-slash {
    $char = "\f104"
  }
  
  if $filename == alarm {
    $char = "\f105"
  }
  
  if $filename == asterisk {
    $char = "\f106"
  }
  
  if $filename == at {
    $char = "\f107"
  }
  
  if $filename == battery-empty {
    $char = "\f108"
  }
  
  if $filename == battery-full {
    $char = "\f109"
  }
  
  if $filename == battery-half {
    $char = "\f10a"
  }
  
  if $filename == battery-o {
    $char = "\f10b"
  }
  
  if $filename == battery-quarter {
    $char = "\f10c"
  }
  
  if $filename == battery-three-quarters {
    $char = "\f10d"
  }
  
  if $filename == battery {
    $char = "\f10e"
  }
  
  if $filename == chevron-down {
    $char = "\f10f"
  }
  
  if $filename == chevron-left {
    $char = "\f110"
  }
  
  if $filename == chevron-right {
    $char = "\f111"
  }
  
  if $filename == chevron-up {
    $char = "\f112"
  }
  
  if $filename == circle-notched {
    $char = "\f113"
  }
  
  if $filename == circle-o {
    $char = "\f114"
  }
  
  if $filename == circle-thin {
    $char = "\f115"
  }
  
  if $filename == circle {
    $char = "\f116"
  }
  
  if $filename == code {
    $char = "\f117"
  }
  
  if $filename == comment-o {
    $char = "\f118"
  }
  
  if $filename == comment {
    $char = "\f119"
  }
  
  if $filename == comments-o {
    $char = "\f11a"
  }
  
  if $filename == comments {
    $char = "\f11b"
  }
  
  if $filename == heart {
    $char = "\f11c"
  }
  
  return $char
}

make-icon($fileName, $insert = 'before', $extend = false) {
  &:{$insert} {
    if $extend {
      icon-base()
    }
    content: icon-char($fileName)
  }
}

.{$icon-prefix}fw {
  width: 1.3em
  text-align: center
}

.{$icon-prefix} {
  icon-base()

  &.{$icon-prefix}adjust {
    make-icon(adjust)
  }

  &.{$icon-prefix}alarm-o {
    make-icon(alarm-o)
  }

  &.{$icon-prefix}alarm-slash-o {
    make-icon(alarm-slash-o)
  }

  &.{$icon-prefix}alarm-slash {
    make-icon(alarm-slash)
  }

  &.{$icon-prefix}alarm {
    make-icon(alarm)
  }

  &.{$icon-prefix}asterisk {
    make-icon(asterisk)
  }

  &.{$icon-prefix}at {
    make-icon(at)
  }

  &.{$icon-prefix}battery-empty {
    make-icon(battery-empty)
  }

  &.{$icon-prefix}battery-full {
    make-icon(battery-full)
  }

  &.{$icon-prefix}battery-half {
    make-icon(battery-half)
  }

  &.{$icon-prefix}battery-o {
    make-icon(battery-o)
  }

  &.{$icon-prefix}battery-quarter {
    make-icon(battery-quarter)
  }

  &.{$icon-prefix}battery-three-quarters {
    make-icon(battery-three-quarters)
  }

  &.{$icon-prefix}battery {
    make-icon(battery)
  }

  &.{$icon-prefix}chevron-down {
    make-icon(chevron-down)
  }

  &.{$icon-prefix}chevron-left {
    make-icon(chevron-left)
  }

  &.{$icon-prefix}chevron-right {
    make-icon(chevron-right)
  }

  &.{$icon-prefix}chevron-up {
    make-icon(chevron-up)
  }

  &.{$icon-prefix}circle-notched {
    make-icon(circle-notched)
  }

  &.{$icon-prefix}circle-o {
    make-icon(circle-o)
  }

  &.{$icon-prefix}circle-thin {
    make-icon(circle-thin)
  }

  &.{$icon-prefix}circle {
    make-icon(circle)
  }

  &.{$icon-prefix}code {
    make-icon(code)
  }

  &.{$icon-prefix}comment-o {
    make-icon(comment-o)
  }

  &.{$icon-prefix}comment {
    make-icon(comment)
  }

  &.{$icon-prefix}comments-o {
    make-icon(comments-o)
  }

  &.{$icon-prefix}comments {
    make-icon(comments)
  }

  &.{$icon-prefix}heart {
    make-icon(heart)
  }

}
