footer.footer.footer-inverse.p-y-4
      .container
        .row.m-b-2
          ul.list-group.list-inline
            li
              a(href='http://git.io/vu9a0')
                i.ion-social-github
                |  GitHub
            li
              a(href='#') Documentation
            li
              a(href='#') Examples
      .row
        .col-xs-12.text-center
          small
            | Built by 
            a(href='https://github.com/iDev0urer') @idev0urer
            |  and 
            a(href='http://marginzero.co') Margin Zero LLC
            | . Contributions are always appreciated. To view a list of what needs to be done please visit our 
            a(href='https://github.com/MarginZero/Stylistic/issues') Issues Page.
            br
            | Copyright © 2015-2016 
            a(href='http://marginzero.co') Margin Zero LLC.
