block variables
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Stylistic is a new CSS framework modeled after the likes of Bootstrap, Foundation, Materialize, and Semantic UI that allows you to build beautiful webpages with very little of your own CSS code. Stylistic is meant to be extremely customizable and extendable.')
    meta(property='og:title', content='Stylistic is a new CSS framework modeled after the likes of Bootstrap, Foundation, Materialize, and Semantic UI that allows you to build beautiful webpages with very little of your own CSS code. Stylistic is meant to be extremely customizable and extendable.')
    meta(property='og:description', content='content')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://gostylistic.com')
    meta(property='og:image', content='http://gostylistic.com/images/stylistic-social.png')
    title Stylistic Framework - CSS framework built in Stylus
    link(rel='stylesheet', href='/dist/css/stylistic.css')
    link(rel='stylesheet', href='/css/site.css')
    link(rel='stylesheet', href='/css/prism.css')
    link(rel='author', href='https://plus.google.com/+ChrisWatson1993')
    link(rel='pblisher', href='https://plus.google.com/b/105045194371251679718')
  body
    include ./_header.jade

    block content

    include ./_footer.jade

    include ./_scripts.jade
