.button
  display: inline-block
  font-weight: btn-font-weight
  text-align: center
  white-space: nowrap
  vertical-align: bottom
  cursor: pointer
  user-select: none
  border: btn-border-width solid transparent
  button-size(btn-padding-y, btn-padding-x, font-size-base, line-height-sm, btn-border-radius)
  margin: 0 btn-margin-vertical btn-margin-horizontal 0
  // transition(all .2s ease-in-out)

  +hover-focus()
    text-decoration: none

  &:focus
    text-decoration: none

  &:active,
  &.active,
  &.open
    background-image: none
    text-decoration: none
    outline: 0
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)

  &.disabled,
  &:disabled
    cursor: $cursor-disabled
    opacity: .65
    box-shadow: none

a.button.disabled,
fieldset[disabled] a.button
  pointer-events: none

for name, color in colors
  text-color = (lightness(color) > 65%) ? btn-color-light : btn-color-dark
  .button-{name}
    make-button(text-color, color, color)

    &.button-outline
      background: transparent
      color: color
      border-color: color

      &:hover, &.open
        color: white
        background: color
        border-color: color

  &.button-block
    display: block !important
    width: 100% !important

  &.button-block + .button-block

  &.button-block + .button-block
    margin-top: 5px

for bp in map-keys(grid-breakpoints)
  &.button-block-{bp}
    +media-breakpoint-down(bp)
      display: block
      width: 100%

  &.button-block-{bp} + &.button-block-{bp}
    margin-top: 5px


  &.button-lg, &.button-lg + .label
    button-size(btn-padding-y-lg, btn-padding-x-lg, font-size-lg, line-height-lg, btn-border-radius-lg)


  &.button-sm, &.button-sm + .label
    button-size(btn-padding-y-sm, btn-padding-x-sm, font-size-sm, line-height-sm, btn-border-radius-sm)

.icon-button
  padding: btn-icon-padding

  &.left-icon
    .icon
      margin-right: .5rem
      margin-left: 0

  &.right-icon
    .icon
      margin-left: .5rem
      margin-right: 0

.button-labeled
  clearfix()
  display: inline-block
  padding-top: 0
  padding-bottom: 0

  > .label
    display: inline-block
    font-weight: inherit
    background: #fafafa !important
    //color: gray-darker !important
    border-left-radius(0)

    &.label-pointing-left
      position: relative
      &::before
        make-arrow(left, 10px, #fafafa)

    &.label-pointing-right
      position: relative
      &::after
        make-arrow(right, 10px, #fafafa)

  &.left-labeled
      padding-left: 0

    .label
      margin-right: 15px
      margin-left: 0

    &.with-arrow
      .label::after
        make-arrow(right, 10px, #fafafa)

  &.right-labeled
    padding-right: 0

    .label
      margin-left: 15px
      margin-right: 0

    &.with-arrow
      .label::before
        make-arrow(left, 10px, #fafafa)

.button-link
  font-weight: normal
  color: link-color
  border-radius: 0
  border: none

  &, &:active, &.active, &:disabled
    background-color: transparent
    box-shadow: none

  &, &:focus, &:active, &::hover
    border-color: transparent

  &:hover, &:focus
    color: link-hover-color
    text-decoration: link-hover-decoration
    background-color: transparent

  &:disabled, .disabled
    color: btn-link-disabled-color
    text-decoration: none
