.dropdown
  cursor: pointer
  position: relative
  display: inline-block
  outline: none
  text-align: left
  // transition: some-transition
  z-index: zindex-dropdown
  tap-highlight-color: rgba(0, 0, 0, 0)
  
  .dropdown-menu
    cursor: auto
    position: absolute
    display: none
    outline: none
    top: 100%
    left: 0
    min-width: max-content
    transition: dropdown-menu-transition
    
    margin: 0
    padding: dropdown-menu-padding
    background: dropdown-bg
    
    font-size: dropdown-menu-font-size
    text-shadow: none
    text-align: left
    
    box-shadow: dropdown-menu-box-shadow
    border: dropdown-menu-border
    border-radius: dropdown-menu-border-radius
    z-index: zindex-dropdown
    will-change: transform, opacity
    
    & > *
      white-space: nowrap
      
  input:not(.search):first-child,
  select
    display: none !important
    
.dropdown > .dropdown-toggle
  position: relative
  width: auto
  font-size: dropdown-toggle-font-size
  margin: dropdown-toggle-margin
    
// TODO: Icon styles for inside the dropdown-menu
  
.dropdown > .dropdown-placeholder
  display: inline-block
  transition: dropdown-placeholder-transition
  font-weight: dropdown-placeholder-font-weight
  
.dropdown .dropdown-menu > .dropdown-item
  position: relative
  cursor: pointer
  display: block
  border: dropdown-menu-item-border
  height: dropdown-menu-item-height
  text-align: dropdown-menu-item-text-align
  
  border-top: dropdown-menu-item-border-top
  line-height: dropdown-menu-item-line-height
  font-size: dropdown-menu-item-font-size
  color: dropdown-menu-item-color

  padding: dropdown-menu-item-padding
  text-transform: dropdown-menu-item-text-transform
  font-weight: dropdown-menu-item-font-weight
  box-shadow: dropdown-menu-item-box-shadow
  -webkit-touch-callout: none
    
.dropdown .dropdown-menu .dropdown-menu
  top: dropdown-submenu-top
  left: dropdown-submenu-left
  margin: dropdown-submenu-right
  right: dropdown-submenu-right
  margin: dropdown-submenu-margin
  border-radius: dropdown-submenu-border-radius
  z-index: zindex-dropdown-submenu
  

/*--------------------
  SELECTION DROPDOWN
 --------------------*/
 
.selection-dropdown
  cursor: pointer
  word-wrap: break-word
  line-height: 1rem
  white-space: normal
  outline: 0
  transform: rotateZ(0deg)

  min-width: selection-dropdown-min-width
  min-height: selection-dropdown-min-height

  background: selection-dropdown-bg
  display: selection-dropdown-display
  padding: selection-dropdown-padding
  color: selection-dropdown-color
  box-shadow: selection-dropdown-box-shadow
  border: selection-dropdown-border
  border-radius: selection-dropdown-border-radius
  transition: selection-dropdown-transition
  
  .dropdown-toggle
    cursor: pointer
    position: absolute
    top: auto
    width: auto
    margin: selection-icon-margin
    padding: selection-icon-padding
    right: selection-icon-right
    opacity: selection-icon-opacity
    transition: selection-icon-transition
    color: dropdown-toggle-color
 
  &.compact
    min-width: 0
   
  .dropdown-menu
    overflow-x: hidden
    overflow-y: auto
    backface-visibility: hidden
    -webkit-overflow-scrolling: touch
    border-top-width: 0 !important
    outline: none
    margin: (0px - dropdown-menu-border-width)
    width: dropdown-menu-min-width
    min-width: dropdown-menu-min-width

    &::after, &::before
      display: none
      
    .dropdown-item
      white-space: normal
      word-wrap: normal

      &:hover
        background-color: selection-dropdown-hover-background
      
   
select.selection-dropdown {
  height: selection-dropdown-height;
  padding: selection-dropdown-padding;
  border: selection-dropdown-border;
}

.inline-dropdown
  cursor: pointer
  display: inline-block
  color: inline-text-color
  
  .dropdown-toggle
    margin: inline-icon-margin
    vertical-align: baseline
    
  .dropdown-placeholder
    font-weight: inline-placeholder-font-weight
    
  .dropdown-menu
    cursor: auto
    margin-top: inline-menu-margin-top
    border-radius: inline-menu-border-radius
    
.button.dropdown
  margin: 0
  
  &.dropdown-menu
    min-width: 100%

.floating-dropdown .dropdown-menu
  left: 0
  right: auto
  box-shadow: floating-menu-box-shadow !important
  border-radius: floating-menu-border-radius !important
  white-space: normal
  
  &:first-child
    border-top: none
  
  &.right-floating
    left: auto
    right: 0

.floating-dropdown > .dropdown-menu
  margin-top: floating-menu-margin-top !important
  border-radius: floating-menu-border-radius !important


.dropdown.open > .dropdown-menu
  display: block