//  /$$$$$$$                                      /$$
// | $$__  $$                                    | $$
// | $$  \ $$  /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$  /$$  /$$  /$$ /$$$$$$$   /$$$$$$$
// | $$  | $$ /$$__  $$ /$$__  $$ /$$__  $$ /$$__  $$ /$$__  $$| $$ | $$ | $$| $$__  $$ /$$_____/
// | $$  | $$| $$  \__/| $$  \ $$| $$  \ $$| $$  | $$| $$  \ $$| $$ | $$ | $$| $$  \ $$|  $$$$$$
// | $$  | $$| $$      | $$  | $$| $$  | $$| $$  | $$| $$  | $$| $$ | $$ | $$| $$  | $$ \____  $$
// | $$$$$$$/| $$      |  $$$$$$/| $$$$$$$/|  $$$$$$$|  $$$$$$/|  $$$$$/$$$$/| $$  | $$ /$$$$$$$/
// |_______/ |__/       \______/ | $$____/  \_______/ \______/  \_____/\___/ |__/  |__/|_______/
//                               | $$
//                               | $$
//                               |__/

.dropdown
  cursor: pointer
  position: relative
  display: inline-block
  outline: none
  text-align: left
  // transition: some-transition
  
  tap-highlight-color: rgba(0, 0, 0, 0) 
  
  .dropdown-menu
    cursor: auto
    position: absolute
    display: none
    outline: none
    top: 100%
    min-width: max-content
    transition: dropdown-menu-transition // TODO: Add this to variables.styl
    
    margin: 0
    padding: dropdown-menu-padding // TODO: Add this to variables.styl
    background: dropdown-bg
    
    font-size: dropdown-menu-font-size // TODO: Add this to variables.styl
    text-shadow: none
    text-align: left
    
    box-shadow: dropdown-menu-box-shadow // TODO: Add this to variables.styl
    border: dropdown-menu-border // TODO: Add this to variables.styl
    border-radius: dropdown-menu-border-radius // TODO: Add this to variables.styl
    z-index: zindex-dropdown
    will-change: transform, opacity
    
    & > *
      white-space: no-wrap
      
  input:not(.search):first-child,
  select
    display: none !important
    
.dropdown > .dropdown-toggle
  position: relative
  width: auto
  font-size: dropdown-toggle-font-size // TODO: Add this to variables.styl
  margin: dropdown-toggle-margin // TODO: Add this to variables.styl
    
// TODO: Icon styles for inside the dropdown-menu
  
.dropdown > .dropdown-placeholder
  display: inline-block
  transition: dropdown-placeholder-transition // TODO: Add this to variables.styl
  
.dropdown .dropdown-menu > .dropdown-item
  position: relative
  cursor: pointer
  display: block
  border: dropdown-menu-item-border // TODO: Add this to variables.styl
  height: dropdown-menu-item-height // TODO: Add this to variables.styl
  text-align: dropdown-menu-item-text-align // TODO: Add this to variables.styl
  
  border-top: dropdown-menu-item-border-top // TODO: Add this to variables.styl
  line-height: dropdown-menu-item-line-height // TODO: Add this to variables.styl
  font-size: dropdown-menu-item-font-size // TODO: Add this to variables.styl
  color: dropdown-menu-item-color // TODO: Add this to variables.styl

  padding: dropdown-menu-item-padding // TODO: Add this to variables.styl
  text-transform: dropdown-menu-item-text-transform // TODO: Add this to variables.styl
  font-weight: dropdown-menu-item-font-weight // TODO: Add this to variables.styl
  box-shadow: dropdown-menu-item-box-shadow // TODO: Add this to variables.styl
  touch-callout: none // TODO: Add this to variables.styl
  
  &:first-child
    border-top-width: 0
    
.dropdown .dropdown-menu .dropdown-menu
  top: dropdown-submenu-top // TODO: Add this to variables.styl
  left: dropdown-submenu-left // TODO: Add this to variables.styl
  margin: dropdown-submenu-right // TODO: Add this to variables.styl
  right: dropdown-submenu-right // TODO: Add this to variables.styl
  margin: dropdown-submenu-margin // TODO: Add this to variables.styl
  border-radius: dropdown-submenu-border-radius // TODO: Add this to variables.styl
  z-index: zindex-dropdown-submenu // TODO: Add this to variables.styl
  

/*--------------------
  SELECTION DROPDOWN
 --------------------*/
 
 .selection-dropdown
   cursor: pointer
   word-wrap: break-word
   line-height: 1rem
   white-space: normal
   outline: 0
   transform: rotateZ(0deg)
   
   min-width: selection-dropdown-min-width // TODO: Add this to variables.styl
   min-height: selection-dropdown-min-height // TODO: Add this to variables.styl
   
   background: selection-dropdown-bg // TODO: Add this to variables.styl
   display: selection-dropdown-display // TODO: Add this to variables.styl
   padding: selection-dropdown-padding // TODO: Add this to variables.styl
   color: selection-dropdown-color // TODO: Add this to variables.styl
   box-shadow: selection-dropdown-box-shadow // TODO: Add this to variables.styl
   border: selection-dropdown-border // TODO: Add this to variables.styl
   border-radius: selection-dropdown-border-radius // TODO: Add this to variables.styl
   transition: selection-dropdown-transition // TODO: Add this to variables.styl
   
   &.compact
     min-width: 0
     
   .dropdown-menu
     overflow-x: hidden
     overflow-y: auto
     backface-visibility: hidden
     overflow-scrolling: touch
     border-top-width: 0 !important
     width: auto
     outline: none
     margin: (0px - dropdown-menu-border-width) // TODO: Add this to variables.styl
     min-width: dropdown-menu-min-width // TODO: Add this to variables.styl
     width: dropdown-menu-min-width // TODO: Add this to variables.styl
     
     &::after, &::before
       display: none
   
select.selection-dropdown {
  height: selection-dropdown-height;
  padding: selection-dropdown-padding;
  border: selection-dropdown-border;
}

