/**
  *
  * LATO
  *
  **/

@font-face {
	font-family: 'Lato Hairline';
	src: url('../fonts/lato/../fonts/lato/hinted-Lato-Hairline.eot');
	src: local('Lato Hairline'), local('Lato-Hairline'),
		url('../fonts/lato/../fonts/lato/hinted-Lato-Hairline.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/../fonts/lato/hinted-Lato-Hairline.woff') format('woff'),
		url('../fonts/lato/../fonts/lato/hinted-Lato-Hairline.ttf') format('truetype'),
		url('../fonts/lato/../fonts/lato/hinted-Lato-Hairline.svg#Lato-Hairline') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/hinted-Lato-SemiboldItalic.eot');
	src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'),
		url('../fonts/lato/hinted-Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/hinted-Lato-SemiboldItalic.woff') format('woff'),
		url('../fonts/lato/hinted-Lato-SemiboldItalic.ttf') format('truetype'),
		url('../fonts/lato/hinted-Lato-SemiboldItalic.svg#Lato-SemiboldItalic') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/hinted-Lato-HeavyItalic.eot');
	src: local('Lato Heavy Italic'), local('Lato-HeavyItalic'),
		url('../fonts/lato/hinted-Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/hinted-Lato-HeavyItalic.woff') format('woff'),
		url('../fonts/lato/hinted-Lato-HeavyItalic.ttf') format('truetype'),
		url('../fonts/lato/hinted-Lato-HeavyItalic.svg#Lato-HeavyItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/hinted-Lato-ThinItalic.eot');
	src: local('Lato Thin Italic'), local('Lato-ThinItalic'),
		url('../fonts/lato/hinted-Lato-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/hinted-Lato-ThinItalic.woff') format('woff'),
		url('../fonts/lato/hinted-Lato-ThinItalic.ttf') format('truetype'),
		url('../fonts/lato/hinted-Lato-ThinItalic.svg#Lato-ThinItalic') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/hinted-Lato-MediumItalic.eot');
	src: local('Lato Medium Italic'), local('Lato-MediumItalic'),
		url('../fonts/lato/hinted-Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/hinted-Lato-MediumItalic.woff') format('woff'),
		url('../fonts/lato/hinted-Lato-MediumItalic.ttf') format('truetype'),
		url('../fonts/lato/hinted-Lato-MediumItalic.svg#Lato-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/hinted-Lato-Italic.eot');
	src: local('Lato Italic'), local('Lato-Italic'),
		url('../fonts/lato/hinted-Lato-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/hinted-Lato-Italic.woff') format('woff'),
		url('../fonts/lato/hinted-Lato-Italic.ttf') format('truetype'),
		url('../fonts/lato/hinted-Lato-Italic.svg#Lato-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/hinted-Lato-Semibold.eot');
	src: local('Lato Semibold'), local('Lato-Semibold'),
		url('../fonts/lato/hinted-Lato-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/hinted-Lato-Semibold.woff') format('woff'),
		url('../fonts/lato/hinted-Lato-Semibold.ttf') format('truetype'),
		url('../fonts/lato/hinted-Lato-Semibold.svg#Lato-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Hairline';
	src: url('../fonts/lato/hinted-Lato-HairlineItalic.eot');
	src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'),
		url('../fonts/lato/hinted-Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/hinted-Lato-HairlineItalic.woff') format('woff'),
		url('../fonts/lato/hinted-Lato-HairlineItalic.ttf') format('truetype'),
		url('../fonts/lato/hinted-Lato-HairlineItalic.svg#Lato-HairlineItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/hinted-Lato-Medium.eot');
	src: local('Lato Medium'), local('Lato-Medium'),
		url('../fonts/lato/hinted-Lato-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/hinted-Lato-Medium.woff') format('woff'),
		url('../fonts/lato/hinted-Lato-Medium.ttf') format('truetype'),
		url('../fonts/lato/hinted-Lato-Medium.svg#Lato-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/hinted-Lato-Bold.eot');
	src: local('Lato Bold'), local('Lato-Bold'),
		url('../fonts/lato/hinted-Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/hinted-Lato-Bold.woff') format('woff'),
		url('../fonts/lato/hinted-Lato-Bold.ttf') format('truetype'),
		url('../fonts/lato/hinted-Lato-Bold.svg#Lato-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/hinted-Lato-Black.eot');
	src: local('Lato Black'), local('Lato-Black'),
		url('../fonts/lato/hinted-Lato-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/hinted-Lato-Black.woff') format('woff'),
		url('../fonts/lato/hinted-Lato-Black.ttf') format('truetype'),
		url('../fonts/lato/hinted-Lato-Black.svg#Lato-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/hinted-Lato-Light.eot');
	src: local('Lato Light'), local('Lato-Light'),
		url('../fonts/lato/hinted-Lato-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/hinted-Lato-Light.woff') format('woff'),
		url('../fonts/lato/hinted-Lato-Light.ttf') format('truetype'),
		url('../fonts/lato/hinted-Lato-Light.svg#Lato-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/hinted-Lato-BlackItalic.eot');
	src: local('Lato Black Italic'), local('Lato-BlackItalic'),
		url('../fonts/lato/hinted-Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/hinted-Lato-BlackItalic.woff') format('woff'),
		url('../fonts/lato/hinted-Lato-BlackItalic.ttf') format('truetype'),
		url('../fonts/lato/hinted-Lato-BlackItalic.svg#Lato-BlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/hinted-Lato-LightItalic.eot');
	src: local('Lato Light Italic'), local('Lato-LightItalic'),
		url('../fonts/lato/hinted-Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/hinted-Lato-LightItalic.woff') format('woff'),
		url('../fonts/lato/hinted-Lato-LightItalic.ttf') format('truetype'),
		url('../fonts/lato/hinted-Lato-LightItalic.svg#Lato-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/hinted-Lato-Thin.eot');
	src: local('Lato Thin'), local('Lato-Thin'),
		url('../fonts/lato/hinted-Lato-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/hinted-Lato-Thin.woff') format('woff'),
		url('../fonts/lato/hinted-Lato-Thin.ttf') format('truetype'),
		url('../fonts/lato/hinted-Lato-Thin.svg#Lato-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/hinted-Lato-Regular.eot');
	src: local('Lato Regular'), local('Lato-Regular'),
		url('../fonts/lato/hinted-Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/hinted-Lato-Regular.woff') format('woff'),
		url('../fonts/lato/hinted-Lato-Regular.ttf') format('truetype'),
		url('../fonts/lato/hinted-Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/hinted-Lato-Heavy.eot');
	src: local('Lato Heavy'), local('Lato-Heavy'),
		url('../fonts/lato/hinted-Lato-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/hinted-Lato-Heavy.woff') format('woff'),
		url('../fonts/lato/hinted-Lato-Heavy.ttf') format('truetype'),
		url('../fonts/lato/hinted-Lato-Heavy.svg#Lato-Heavy') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato/hinted-Lato-BoldItalic.eot');
	src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
		url('../fonts/lato/hinted-Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lato/hinted-Lato-BoldItalic.woff') format('woff'),
		url('../fonts/lato/hinted-Lato-BoldItalic.ttf') format('truetype'),
		url('../fonts/lato/hinted-Lato-BoldItalic.svg#Lato-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

/**
  *
  * PLAYFAIR
  *
  **/

  @font-face {
  	font-family: 'Playfair Display SC';
  	src: url('../fonts/playfair/PlayfairDisplaySC-BoldItalic.eot');
  	src: local('Playfair Display SC Bold Italic'), local('PlayfairDisplaySC-BoldItalic'),
  		url('../fonts/playfair/PlayfairDisplaySC-BoldItalic.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/playfair/PlayfairDisplaySC-BoldItalic.woff') format('woff'),
  		url('../fonts/playfair/PlayfairDisplaySC-BoldItalic.ttf') format('truetype'),
  		url('../fonts/playfair/PlayfairDisplaySC-BoldItalic.svg#PlayfairDisplaySC-BoldItalic') format('svg');
  	font-weight: bold;
  	font-style: italic;
  }

  @font-face {
  	font-family: 'Playfair Display SC';
  	src: url('../fonts/playfair/PlayfairDisplaySC-Italic.eot');
  	src: local('Playfair Display SC Italic'), local('PlayfairDisplaySC-Italic'),
  		url('../fonts/playfair/PlayfairDisplaySC-Italic.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/playfair/PlayfairDisplaySC-Italic.woff') format('woff'),
  		url('../fonts/playfair/PlayfairDisplaySC-Italic.ttf') format('truetype'),
  		url('../fonts/playfair/PlayfairDisplaySC-Italic.svg#PlayfairDisplaySC-Italic') format('svg');
  	font-weight: normal;
  	font-style: italic;
  }

  @font-face {
  	font-family: 'Playfair Display SC';
  	src: url('../fonts/playfair/PlayfairDisplaySC-Regular.eot');
  	src: local('Playfair Display SC'), local('PlayfairDisplaySC-Regular'),
  		url('../fonts/playfair/PlayfairDisplaySC-Regular.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/playfair/PlayfairDisplaySC-Regular.woff') format('woff'),
  		url('../fonts/playfair/PlayfairDisplaySC-Regular.ttf') format('truetype'),
  		url('../fonts/playfair/PlayfairDisplaySC-Regular.svg#PlayfairDisplaySC-Regular') format('svg');
  	font-weight: normal;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'Playfair Display SC';
  	src: url('../fonts/playfair/PlayfairDisplaySC-Black.eot');
  	src: local('Playfair Display SC Black'), local('PlayfairDisplaySC-Black'),
  		url('../fonts/playfair/PlayfairDisplaySC-Black.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/playfair/PlayfairDisplaySC-Black.woff') format('woff'),
  		url('../fonts/playfair/PlayfairDisplaySC-Black.ttf') format('truetype'),
  		url('../fonts/playfair/PlayfairDisplaySC-Black.svg#PlayfairDisplaySC-Black') format('svg');
  	font-weight: 900;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'Playfair Display SC';
  	src: url('../fonts/playfair/PlayfairDisplaySC-Bold.eot');
  	src: local('Playfair Display SC Bold'), local('PlayfairDisplaySC-Bold'),
  		url('../fonts/playfair/PlayfairDisplaySC-Bold.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/playfair/PlayfairDisplaySC-Bold.woff') format('woff'),
  		url('../fonts/playfair/PlayfairDisplaySC-Bold.ttf') format('truetype'),
  		url('../fonts/playfair/PlayfairDisplaySC-Bold.svg#PlayfairDisplaySC-Bold') format('svg');
  	font-weight: bold;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'Playfair Display SC';
  	src: url('../fonts/playfair/PlayfairDisplaySC-BlackItalic.eot');
  	src: local('Playfair Display SC Black Italic'), local('PlayfairDisplaySC-BlackItalic'),
  		url('../fonts/playfair/PlayfairDisplaySC-BlackItalic.eot?#iefix') format('embedded-opentype'),
  		url('../fonts/playfair/PlayfairDisplaySC-BlackItalic.woff') format('woff'),
  		url('../fonts/playfair/PlayfairDisplaySC-BlackItalic.ttf') format('truetype'),
  		url('../fonts/playfair/PlayfairDisplaySC-BlackItalic.svg#PlayfairDisplaySC-BlackItalic') format('svg');
  	font-weight: 900;
  	font-style: italic;
  }

  /**
    *
    * Source Sans
    *
    **/

    @font-face {
    	font-family: 'Source Sans Pro';
    	src: url('../fonts/playfair/hinted-SourceSansPro-Regular.eot');
    	src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
    		url('../fonts/playfair/hinted-SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    		url('../fonts/playfair/hinted-SourceSansPro-Regular.woff') format('woff'),
    		url('../fonts/playfair/hinted-SourceSansPro-Regular.ttf') format('truetype'),
    		url('../fonts/playfair/hinted-SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    	font-weight: normal;
    	font-style: normal;
    }

    @font-face {
    	font-family: 'Source Sans Pro';
    	src: url('../fonts/playfair/hinted-SourceSansPro-ExtraLightIt.eot');
    	src: local('Source Sans Pro ExtraLight Italic'), local('SourceSansPro-ExtraLightIt'),
    		url('../fonts/playfair/hinted-SourceSansPro-ExtraLightIt.eot?#iefix') format('embedded-opentype'),
    		url('../fonts/playfair/hinted-SourceSansPro-ExtraLightIt.woff') format('woff'),
    		url('../fonts/playfair/hinted-SourceSansPro-ExtraLightIt.ttf') format('truetype'),
    		url('../fonts/playfair/hinted-SourceSansPro-ExtraLightIt.svg#SourceSansPro-ExtraLightIt') format('svg');
    	font-weight: 200;
    	font-style: italic;
    }

    @font-face {
    	font-family: 'Source Sans Pro';
    	src: url('../fonts/playfair/hinted-SourceSansPro-Light.eot');
    	src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
    		url('../fonts/playfair/hinted-SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
    		url('../fonts/playfair/hinted-SourceSansPro-Light.woff') format('woff'),
    		url('../fonts/playfair/hinted-SourceSansPro-Light.ttf') format('truetype'),
    		url('../fonts/playfair/hinted-SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
    	font-weight: 300;
    	font-style: normal;
    }

    @font-face {
    	font-family: 'Source Sans Pro';
    	src: url('../fonts/playfair/hinted-SourceSansPro-SemiboldIt.eot');
    	src: local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'),
    		url('../fonts/playfair/hinted-SourceSansPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    		url('../fonts/playfair/hinted-SourceSansPro-SemiboldIt.woff') format('woff'),
    		url('../fonts/playfair/hinted-SourceSansPro-SemiboldIt.ttf') format('truetype'),
    		url('../fonts/playfair/hinted-SourceSansPro-SemiboldIt.svg#SourceSansPro-SemiboldIt') format('svg');
    	font-weight: 600;
    	font-style: italic;
    }

    @font-face {
    	font-family: 'Source Sans Pro';
    	src: url('../fonts/playfair/hinted-SourceSansPro-Black.eot');
    	src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
    		url('../fonts/playfair/hinted-SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
    		url('../fonts/playfair/hinted-SourceSansPro-Black.woff') format('woff'),
    		url('../fonts/playfair/hinted-SourceSansPro-Black.ttf') format('truetype'),
    		url('../fonts/playfair/hinted-SourceSansPro-Black.svg#SourceSansPro-Black') format('svg');
    	font-weight: 900;
    	font-style: normal;
    }

    @font-face {
    	font-family: 'Source Sans Pro';
    	src: url('../fonts/playfair/hinted-SourceSansPro-ExtraLight.eot');
    	src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'),
    		url('../fonts/playfair/hinted-SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
    		url('../fonts/playfair/hinted-SourceSansPro-ExtraLight.woff') format('woff'),
    		url('../fonts/playfair/hinted-SourceSansPro-ExtraLight.ttf') format('truetype'),
    		url('../fonts/playfair/hinted-SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight') format('svg');
    	font-weight: 200;
    	font-style: normal;
    }

    @font-face {
    	font-family: 'Source Sans Pro';
    	src: url('../fonts/playfair/hinted-SourceSansPro-LightIt.eot');
    	src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'),
    		url('../fonts/playfair/hinted-SourceSansPro-LightIt.eot?#iefix') format('embedded-opentype'),
    		url('../fonts/playfair/hinted-SourceSansPro-LightIt.woff') format('woff'),
    		url('../fonts/playfair/hinted-SourceSansPro-LightIt.ttf') format('truetype'),
    		url('../fonts/playfair/hinted-SourceSansPro-LightIt.svg#SourceSansPro-LightIt') format('svg');
    	font-weight: 300;
    	font-style: italic;
    }

    @font-face {
    	font-family: 'Source Sans Pro';
    	src: url('../fonts/playfair/hinted-SourceSansPro-BlackIt.eot');
    	src: local('Source Sans Pro Black Italic'), local('SourceSansPro-BlackIt'),
    		url('../fonts/playfair/hinted-SourceSansPro-BlackIt.eot?#iefix') format('embedded-opentype'),
    		url('../fonts/playfair/hinted-SourceSansPro-BlackIt.woff') format('woff'),
    		url('../fonts/playfair/hinted-SourceSansPro-BlackIt.ttf') format('truetype'),
    		url('../fonts/playfair/hinted-SourceSansPro-BlackIt.svg#SourceSansPro-BlackIt') format('svg');
    	font-weight: 900;
    	font-style: italic;
    }

    @font-face {
    	font-family: 'Source Sans Pro';
    	src: url('../fonts/playfair/hinted-SourceSansPro-It.eot');
    	src: local('Source Sans Pro Italic'), local('SourceSansPro-It'),
    		url('../fonts/playfair/hinted-SourceSansPro-It.eot?#iefix') format('embedded-opentype'),
    		url('../fonts/playfair/hinted-SourceSansPro-It.woff') format('woff'),
    		url('../fonts/playfair/hinted-SourceSansPro-It.ttf') format('truetype'),
    		url('../fonts/playfair/hinted-SourceSansPro-It.svg#SourceSansPro-It') format('svg');
    	font-weight: normal;
    	font-style: italic;
    }

    @font-face {
    	font-family: 'Source Sans Pro';
    	src: url('../fonts/playfair/hinted-SourceSansPro-Bold.eot');
    	src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
    		url('../fonts/playfair/hinted-SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    		url('../fonts/playfair/hinted-SourceSansPro-Bold.woff') format('woff'),
    		url('../fonts/playfair/hinted-SourceSansPro-Bold.ttf') format('truetype'),
    		url('../fonts/playfair/hinted-SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
    	font-weight: bold;
    	font-style: normal;
    }

    @font-face {
    	font-family: 'Source Sans Pro';
    	src: url('../fonts/playfair/hinted-SourceSansPro-Semibold.eot');
    	src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
    		url('../fonts/playfair/hinted-SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
    		url('../fonts/playfair/hinted-SourceSansPro-Semibold.woff') format('woff'),
    		url('../fonts/playfair/hinted-SourceSansPro-Semibold.ttf') format('truetype'),
    		url('../fonts/playfair/hinted-SourceSansPro-Semibold.svg#SourceSansPro-Semibold') format('svg');
    	font-weight: 600;
    	font-style: normal;
    }

    @font-face {
    	font-family: 'Source Sans Pro';
    	src: url('../fonts/playfair/hinted-SourceSansPro-BoldIt.eot');
    	src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldIt'),
    		url('../fonts/playfair/hinted-SourceSansPro-BoldIt.eot?#iefix') format('embedded-opentype'),
    		url('../fonts/playfair/hinted-SourceSansPro-BoldIt.woff') format('woff'),
    		url('../fonts/playfair/hinted-SourceSansPro-BoldIt.ttf') format('truetype'),
    		url('../fonts/playfair/hinted-SourceSansPro-BoldIt.svg#SourceSansPro-BoldIt') format('svg');
    	font-weight: bold;
    	font-style: italic;
    }
