.label
  display: inline-block
  font-weight: btn-font-weight
  text-align: center
  white-space: nowrap
  vertical-align: middle
  cursor: default
  user-select: none
  border: btn-border-width solid transparent
  button-size(btn-padding-y, btn-padding-x, font-size-base, line-height, btn-border-radius)
  background-color: transparent

  for name, color in colors
    &.label-{name}
      background-color: white
      border-color: color
      color: color
