.navbar
  position: relative
  background-color: navbar-light-bg
  padding: navbar-padding-vertical navbar-padding-horizontal
  width: 100%
  clearfix()
  +media-breakpoint-up(sm)
    border-radius(navbar-border-radius)

  .navbar-logo
    float: left
    padding-top: (navbar-padding-vertical / 2)
    padding-bottom: (navbar-padding-vertical / 2)
    margin-right: 1rem
    font-size: font-size-lg
    color: navbar-light-logo-color

    .logo-accent
      color:transparentify(navbar-light-logo-color, 40%)

    img
      display: block
      max-height: 1.9rem

  .navbar-nav
    .navbar-divider
      background-color: rgba(0,0,0,.075)
    .nav-link
      color: navbar-light-color
      &:hover
        color: navbar-light-hover-color

  .open > .nav-link,
  .active > .nav-link,
  .nav-link.open,
  .nav-link.active
    color: navbar-light-active-color

  for name, size in grid-breakpoints
    .navbar-collapse-{name}
      +media-breakpoint-down(name)
        Display: none;

  &.navbar-inverted
    background-color: navbar-dark-bg
    .navbar-nav
      .navbar-divider
        background-color: rgba(0,0,0,.075)
      .nav-link
        color: navbar-dark-color
        &:hover
          color: navbar-dark-hover-color

    .navbar-logo
      color: navbar-dark-logo-color
      .logo-accent
        color:transparentify(navbar-dark-logo-color, 40%)

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active
      color: navbar-dark-active-color

  &.navbar-full
    border-radius(0)

  .navbar-divider
    float: left
    width: 1px
    padding-top: .425rem
    padding-bottom: .425rem
    margin-right: navbar-padding-horizontal
    margin-left:  navbar-padding-horizontal
    overflow: hidden
    &::before
      content: "\00a0"

  .nav-link
    float: left
    display: block
    padding-top: .425rem
    padding-bottom: .425rem
    color: lighten(link-color, 25%)
    + .nav-link
      margin-left: 1rem

  .navbar-nav
    &.nav-right
      pull-right()

  &.navbar-default


  &.navbar-fixed
    position: fixed
    z-index: 999
    clearfix()

  &.navbar-transparent
    background-color: transparent

.navbar-toggle
  display: block
  font-size: 3rem
  color: navbar-toggle-color
  cursor: pointer
  z-index: 999
  text-shadow: 1px 1px 30px gray-lightest
