.ribbon
  width: 200px
  background: gray-darker
  position: absolute
  top: 25px
  left: -50px
  text-align: center
  line-height: 50px
  color: #f0f0f0
  transform: rotate(-45deg)
  -webkit-transform: rotate(-45deg)
  z-index: 100

  &.ribbon-fixed
    position: fixed

  &.ribbon-top-left
    top: 25px
    left: -50px
    transform: rotate(-45deg)
    -webkit-transform: rotate(-45deg)

  &.ribbon-top-right
    top: 25px
    right: -50px
    left: auto
    transform: rotate(45deg)
    -webkit-transform: rotate(45deg)

  &.ribbon-bottom-left
    top: auto
    bottom: 25px
    left: -50px
    transform: rotate(45deg)
    -webkit-transform: rotate(45deg)

  &.ribbon-bottom-right
    top: auto
    right: -50px
    bottom: 25px
    left: auto
    transform: rotate(-45deg)
    -webkit-transform: rotate(-45deg)

for name, color in colors
  &.ribbon-{name}
    background-color: color

    a
      color: #f0f0f0
