.clearfix
  clearfix()

.center-block
  center-block()

.pull-left
  pull-left()

.pull-right
  pull-right()

for $breakpoint in map-keys(grid-breakpoints)
  +media-breakpoint-up($breakpoint)
    .pull-{$breakpoint}-left { pull-left() }
    .pull-{$breakpoint}-right { pull-right() }
    .pull-{$breakpoint}-none { float: none !important; }

.sr-only
  sr-only()

.sc-only-focusable
  sr-only-focusable()

.invisible
  visibility: hidden !important

.text-hide
  text-hide()

.text-justify
  text-align: justify !important

.text-right
  text-align: right !important

.text-truncate
  text-truncate()

for $breakpoint in map-keys(grid-breakpoints)
  +media-breakpoint-up($breakpoint)
    .text-{$breakpoint}-left { text-align: left !important; }
    .text-{$breakpoint}-right { text-align: right !important; }
    .text-{$breakpoint}-center { text-align: center !important; }

// Transformation

.text-lowercase      { text-transform: lowercase !important; }
.text-uppercase      { text-transform: uppercase !important; }
.text-capitalize     { text-transform: capitalize !important; }

// Weight and italics

.font-weight-normal  { font-weight: normal; }
.font-weight-bold    { font-weight: bold; }
.font-italic         { font-style: italic; }

.text-muted { color: text-muted; }

text-emphasis-variant('.text-blue', blue);
text-emphasis-variant('.text-green', green);
text-emphasis-variant('.text-red', red);
text-emphasis-variant('.text-orange', orange);
text-emphasis-variant('.text-shadow', shadow);

// Borders

.border-rounded
  border-radius: border-radius-default

.border-rounded-sm
  border-radius: border-radius-sm

.border-radius-lg
  border-radius: border-radius-lg


for $bp in map-keys(grid-breakpoints)
  .ng-{$bp}
    +media-breakpoint-down($bp)
      padding-left: 0 !important
      padding-right: 0 !important
