for name, color in colors
  .bg-{name}
    background-color: color !important

  .text-{name}
    color: color !important

.bg-muted
  background-color: gray-lightest !important

.text-white
  color: #fafafa !important

.text-muted { color: text-muted !important; }

.strong
  font-weight: 600 !important
