.clearfix
  clearfix()

.center-block
  center-block(false)

.pull-left
  pull-left()

.pull-right
  pull-right()

for $breakpoint in map-keys(grid-breakpoints)
  +media-breakpoint-up($breakpoint)
    .pull-{$breakpoint}-left { pull-left() }
    .pull-{$breakpoint}-right { pull-right() }
    .pull-{$breakpoint}-none { float: none !important; }

.sr-only
  sr-only()

.sc-only-focusable
  sr-only-focusable()

.invisible
  visibility: hidden !important

.hidden
  display: none !important

.text-hide
  text-hide()

.text-right { text-align: right; }
.text-left { text-align: left; }
.text-justify { text-align: justify; }
.text-center { text-align: center; }

.text-right-important { text-align: right !important; }
.text-left-important { text-align: left !important; }
.text-justify-important { text-align: justify !important; }
.text-center-important { text-align: center !important; }

.text-truncate
  text-truncate()

for $breakpoint in map-keys(grid-breakpoints)
  +media-breakpoint-up($breakpoint)
    .text-left-{$breakpoint} { text-align: left !important; }
    .text-right-{$breakpoint} { text-align: right !important; }
    .text-center-{$breakpoint} { text-align: center !important; }

// Transformation

.text-lowercase      { text-transform: lowercase !important; }
.text-uppercase      { text-transform: uppercase !important; }
.text-capitalize     { text-transform: capitalize !important; }

// Weight and italics

.font-weight-normal  { font-weight: normal; }
.font-weight-bold    { font-weight: bold; }
.font-italic         { font-style: italic; }

text-emphasis-variant('.text-blue', blue);
text-emphasis-variant('.text-green', green);
text-emphasis-variant('.text-red', red);
text-emphasis-variant('.text-orange', orange);
text-emphasis-variant('.text-shadow', shadow);

// Borders

.border-rounded
  border-radius: border-radius-default

.border-rounded-sm
  border-radius: border-radius-sm

.border-radius-lg
  border-radius: border-radius-lg


for $bp in map-keys(grid-breakpoints)
  .ng-{$bp}
    +media-breakpoint-down($bp)
      padding-left: 0 !important
      padding-right: 0 !important

for $align in (baseline sub super top text-top middle bottom text-bottom initial inherit)
  .valign-{$align}
    vertical-align: $align !important
