$levels = 4

for $i in (0..$levels)
  $i = unit($i, 'rem')

  .p-a-{$i}
    padding: $i !important

  .p-y-{$i}
    padding-top: $i !important
    padding-bottom: $i !important

  .p-x-{$i}
    padding-left: $i !important
    padding-right: $i !important

  .p-t-{$i}
    padding-top: $i !important

  .p-b-{$i}
    padding-bottom: $i !important

  .p-l-{$i}
    padding-left: $i !important

  .p-r-{$i}
    padding-right: $i !important

  .m-a-{$i}
    margin: $i !important

  .m-y-{$i}
    margin-top: $i !important
    margin-bottom: $i !important

  .m-x-{$i}
    margin-left: $i !important
    margin-right: $i !important

  .m-t-{$i}
    margin-top: $i !important

  .m-b-{$i}
    margin-bottom: $i !important

  .m-l-{$i}
    margin-left: $i !important

  .m-r-{$i}
    margin-right: $i !important
